<template>
  <div class="our-contacts">
    <div class="dark center">
      <section>
        <h3 class="infant">Наши контакты</h3>
        <div class="our-contacts-field center">
          <maps></maps>
          <div class="our-contacts-address d-flex j-center col">
            <div class="address">
              <span>Адрес: </span>
              <address>
                <a href="https://yandex.ru/maps/14/tver/house/pereulok_trudolyubiya_36/Z0wYfgBpQUUPQFtsfXR3cHllYA==/?ll=35.879808%2C56.861564&z=17.1" target="_blank">
                  г. Тверь, переулок Трудолюбия, 36
                </a>
              </address>
            </div>

            <div class="address">
              <span>Телефон: </span> <br>
              <a href="tel:+79631534333">+7(963) 153 - 43 - 33</a>
            </div>
            <div class="address" style="height: 34px">
              <a href="https://api.whatsapp.com/send/?phone=79631534333&text=Здравствуйте.+Хочу+записаться+на+сеанс" target="_blank">
                <img src="../assets/icons/whatsapp.svg" alt="whatsapp" class="social-network">
              </a>
              <a href="https://t.me/undeground2022" target="_blank">
                <img src="../assets/icons/telegram.svg" alt="telegram" class="social-network">
              </a>
              <a href="viber://add?number=79631534333" target="_blank">
                <img src="../assets/icons/viber.svg" alt="viber" class="social-network">
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import Maps from '../components/Maps';
export default {
  name: 'Contacts',
  components: {
    Maps
  }
};
</script>

<style scoped lang="scss">
@import "../assets/styles/mixins.scss";
.our-contacts {
  @include bg('5.jpeg');
  color: #fff;
  h3 {
    color: #d23939;
    font-size: 60px;
  }
  &-field {
    background: #808080b8;
    padding: 24px;
    font-family: 'Roboto', sans-serif;
  }
  .mini-map {
    width: 300px;
    height: 300px;
    margin-right: 24px;
  }
  &-address {
    width: 300px;
    height: 300px;
    font-size: 18px;
  }
  .address {
    margin: 16px 0;
    a {
      color: white;
    }
  }
  .social-network {
    width: 30px;
    height: 30px;
    margin-right: 16px;
    cursor: pointer;
    &:hover {
      width: 33px;
      height: 33px;
    }
  }
}

</style>