<template>
  <div class="main">
    <div class="home infant">
      <div class="dark center col">
        <div>
          <h1>Андеграунд</h1>
          <div class="home-massage">Эротический массаж в Твери</div>
        </div>
      </div>
    </div>
    <div class="girls">
      <div class="girls-padding">
        <our-girls></our-girls>
      </div>
    </div>
    <div class="rules">
      <div class="dark center">
        <div>
          <h4 class="infant">Почему именно мы?</h4>
        </div>
        <div class="note roboto">
          <p>-Большой выбор программ</p>
          <p>( у нас вы можете выбрать самую подходящую для Вас программу)</p>
          <p>-Вкуснейшие кальяны</p>
          <p>(Проведите время приятно вместе с кальяном и девушкой)</p>
          <p>-Работаем 24/7</p>
          <p>(Работаем круглосуточно</p>
          <p>и рады видеть вас в любое время дня и ночи)</p>
          <p>-100% конфиденциальность</p>
          <p>(Мы создали все условия, чтобы гости не пересекались, мы не принимаем параллельно)</p>
          <p>-Гигиена</p>
          <p>(Индивидуальные тапочки, простыни, полотенца,средства ухода за телом)</p>
        </div>
      </div>
    </div>
    <div class="contacts">
      <div class="dark d-flex j-evenly a-center">
        <maps class="dark-map"></maps>
        <div>
          <h4>Как нас найти?</h4>
          <div class="note roboto">
            <div class="address d-flex">
              <span>Адрес: </span>
              <address>
                <a href="https://yandex.ru/maps/14/tver/house/pereulok_trudolyubiya_36/Z0wYfgBpQUUPQFtsfXR3cHllYA==/?ll=35.879808%2C56.861564&z=17.1" target="_blank">
                  г. Тверь, переулок Трудолюбия, 36
                </a>
              </address>
            </div>
            <div class="address">
              <span>Телефон: </span> <br>
              <a href="tel:+79631534333">+7(963) 153 - 43 - 33</a>
            </div>
            <div class="address" style="height: 34px">
              <a href="https://api.whatsapp.com/send/?phone=79631534333&text=Здравствуйте.+Хочу+записаться+на+сеанс" target="_blank">
                <img src="../assets/icons/whatsapp.svg" alt="whatsapp" class="social-network">
              </a>
              <a href="https://t.me/undeground2022" target="_blank">
                <img src="../assets/icons/telegram.svg" alt="telegram" class="social-network">
              </a>
              <a href="viber://add?number=79631534333" target="_blank">
                <img src="../assets/icons/viber.svg" alt="viber" class="social-network">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import OurGirls from '../components/OurGirls';
import Maps from '../components/Maps';
export default {
  name: 'home',
  components: {
    OurGirls,
    Maps,
  }
};
</script>
<style scoped lang="scss">

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import "../assets/styles/mixins.scss";
@import "../assets/styles/colors.scss";
.main {
  .home {
    @include bg('2.png');
    h1 {
      color: $white;
      font-size: 100px;
    }
    &-massage {
      color: $red;
      font-size: 28px;
    }
  }



  h2 {
    color: $white;
  }

  h4 {
    color: $red;
    font-size: 60px;
    margin-right: 100px;
  }



  .girls {
    background-color: #0d0d0d;
    //background-color: #1c2326;
    height: 100vh;
    padding: 30px 0;
  }

  .rules {
    @include bg('3.png');
  }

  .note {
    color: white;
    p {
      line-height: 38px;
    }
  }

  .contacts {
    @include bg('5.jpeg');
  }

  .address {
    margin: 30px;
    font-size: 19px;

    span {
      margin-right: 12px;
    }

    a {
      color: white;
      text-decoration: none;

      &:hover {
        color: grey;
        cursor: pointer;
      }
    }
  }

  .social-network {
    width: 30px;
    height: 30px;
    margin-right: 16px;
  }
}
</style>