<template>
  <div class="price">
    <div class="dark center">
      <section>
        <h3>Цены</h3>
        <div class="container d-flex f-wrap">
          <div v-for="(service, index) in services" :key="index" class="price-block">
            <div class="price-block__name">{{ service.name }}</div>
            <div class="d-flex">
              <div class="price-block__sum"><b>{{ service.price }} руб.</b> / </div>
              <div class="price-block__time"><span> {{ service.minute }} мин</span></div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Price',
  data () {
    return {
      services: [
        {
          name: 'Классика',
          price: '2500',
          minute: '60'
        },
        {
          name: 'Ланч',
          price: '2000',
          minute: '30'
        },
        {
          name: 'Телом по телу',
          price: '3500',
          minute: '60'
        },
        {
          name: 'Ты мне я тебе',
          price: '5000',
          minute: '90'
        },
        {
          name: 'All inclusive',
          price: '8000',
          minute: '90'
        },
        {
          name: 'Для пар',
          price: '10000',
          minute: '60'
        },
        {
          name: 'Лесби шоу',
          price: '8000',
          minute: '60'
        },
        {
          name: 'Госпожа',
          price: '6000',
          minute: '60'
        },
        {
          name: 'Пип шоу',
          price: '4000',
          minute: '60'
        },
        {
          name: 'Дабл герл',
          price: '6000',
          minute: '60'
        },
        {
          name: 'Выезд',
          price: '5000',
          minute: '60'
        },
        {
          name: 'Ханни герл',
          price: '4000',
          minute: '60'
        }
      ]
    };
  }
};
</script>

<style scoped lang="scss">
@import "../assets/styles/mixins";
@import "../assets/styles/colors";

.price {
  @include bg('6.png');
  color: $white;

  h3 {
    color: $red;
    font-family: 'Cormorant Infant', serif;
    font-size: 60px;
  }

  &-block {
    width: 240px;
    height: 70px;
    padding: 16px;
    background: #808080b8;
    font-family: 'Roboto', sans-serif;
    margin: 8px;
    flex-shrink: 0;
    &:hover {
      background: $white-wrapper;
      color: $black;
    }
    &:hover b{
      color: $red;
    }

    &__name {
      font-size: 25px;
      text-align: center;
    }
    
    &__sum {
      font-size: 28px;
      font-family: 'Cormorant Infant', serif;
      &:hover {
        color: $red;
      }
    }
    
    &__time {
      margin-left: 8px;
      color: $light-grey;
    }
  }
}
</style>