<template>
  <div class="rules">
    <div class="dark center">
      <section>
        <h3 class="infant">Правила</h3>
        <div class="rules-field roboto">
          <div class="rules-margin">
            <h4>Уважаемый гость!</h4>
            <p>
              Девушки имеют право прекратить релаксационную программу в случае склонения к интиму
              или недостойного поведения гостя. <br> В этом случае деньги за релакс не возвращаются.
            </p>
          </div>
          <div class="rules-margin">
            <h4>На программу не допускаются гости:</h4>
            <ul>
              <li v-for="(item, index) in notAllowed" :key="index">- {{item}}</li>
            </ul>
          </div>
          <div class="rules-margin">
            <h4>Запрещено на массаже:</h4>
            <ul>
              <li v-for="(item, index) in forbidden" :key="index">- {{item}}</li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Rules',
  data() {
    return {
      notAllowed: [
        'не достигшие совершеннолетнего возраста;',
        'в состоянии сильного алкогольного, токсического или наркотического опьянения (по мнению администрации);',
        'агрессивно ведущие себя по отношению к персоналу салона.',
      ],
      forbidden: [
        'производить несанкционированные фото- и видеосъемки;',
        'употреблять наркотические и психотропные вещества;',
        'проносить оружие, колющие и режущие предметы;',
        'нарушать общественный порядок и спокойствие других посетителей;',
        'наносить вред имуществу салона.',
      ]
    };
  }
};
</script>

<style scoped lang="scss">
@import "../assets/styles/mixins.scss";
@import "../assets/styles/colors.scss";
.rules {
  @include bg('7.jpeg');
  color: $white;
  h3 {
    color: $red;
    font-size: 60px;
  }
  h4 {
    font-size: 30px;
    margin: 16px;
  }
  &-field {
    background: $grey-visible;
    padding: 24px;
  }
  &-margin {
    margin: 8px 0;
  }
}
</style>