<template>
  <img src="../assets/images/map.png" alt="map" class="mini-map" @click="picture = true">
  <div v-show="picture" class="modal center">
    <span class="close" @click="picture = false">&times;</span>
    <img class="modal-map" src="../assets/images/map.png">
  </div>
</template>

<script>
export default {
  name: 'Maps',
  data() {
    return {
      picture: false
    };
  }
};
</script>

<style scoped lang="scss">

.mini-map {
  width: 400px;
  height: 320px;
  margin-right: 24px;
  cursor: pointer;
}

.modal {
  &-map {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 900px;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  &:hover, focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
}
</style>