<template>
  <div class="menu">
    <nav class="nav">
      <router-link to="/">Главная</router-link>
      <router-link to="/girls">Девушки</router-link>
      <router-link to="/price">Цены</router-link>
      <router-link to="/rules">Правила</router-link>
      <router-link to="/contacts">Контакты</router-link>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'Menu'
};
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.menu  {
  border-bottom: 1px solid;
  padding: 16px 0;
  position: fixed;
  width: 100%;
  background: #000000ab;
  z-index: 1;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Roboto', sans-serif;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: grey;
  cursor: pointer;
}
</style>