<template>
  <div v-show="modal" class="modal grey center">
    <div class="modal-content t-center">
      <div v-if="adult">
        <p>Вам уже есть 18+?</p>
        <button @click="modal = false">Да</button>
        <button @click="adult = false">Нет</button>
      </div>
      <div v-else class="modal-not-adult">
        <span>Извините, но Вы слишком молоды!</span>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'Modal',
  data() {
    return {
      modal: false,
      adult: true
    };
  }
};
</script>

<style scoped lang="scss">
@import "../assets/styles/colors";
.modal {
  &.grey {
    background-color: $grey-wrapper;
  }
  &-content {
    background-color: $black-wrapper;
    padding: 20px;
    border: 1px solid $grey-wrapper;
    max-width: 500px;
    p {
      color: $red;
      font-family: 'Cormorant Infant', serif;
      font-size: 60px;
    }
    button {
      padding: 10px 20px;
      margin: 16px;
      border: 1px solid $red-wrapper;
      &:hover {
        background:  $red-wrapper;
        color: white;
        cursor: pointer;
      }
    }
  }
  &-not-adult {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: $white;
  }
}
</style>