<template>
  <div>
    <div class="slideshow-container">
      <div class="fade" v-if="index === 1">
        <div class="numbertext">1 / 4</div>
        <img src="../assets/images/girls/3.jpeg">
        <div class="text roboto" @click="$router.push('/girls/angelina')">Ангелина</div>
      </div>

      <div class="fade" v-if="index === 2">
        <div class="numbertext">2 / 4</div>
        <img src="../assets/images/girls/6.jpeg">
        <div class="text roboto" @click="$router.push('/girls/yana')">Яна</div>
      </div>

      <div class="fade" v-if="index === 3">
        <div class="numbertext">3 / 4</div>
        <img src="../assets/images/girls/9.jpeg">
        <div class="text roboto" @click="$router.push('/girls/kamilla')">Камилла</div>
      </div>

      <div class="fade" v-if="index === 4">
        <div class="numbertext">4 / 4</div>
        <img src="../assets/images/girls/10.jpeg">
        <div class="text roboto" @click="$router.push('/girls/eva')">Ева</div>
      </div>

      <a class="prev" @click="plusSlides(-1)">&#10094;</a>
      <a class="next" @click="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <!-- The dots/circles -->
    <div class="dots t-center" v-if="false">
      <span class="dot" :class="{'selected': index === 1}" @click="currentSlide(1)"></span>
      <span class="dot" :class="{'selected': index === 2}" @click="currentSlide(2)"></span>
      <span class="dot" :class="{'selected': index === 3}" @click="currentSlide(3)"></span>
      <span class="dot" :class="{'selected': index === 4}" @click="currentSlide(4)"></span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'OurGirls',
  data() {
    return {
      index: 1
    };
  },
  methods: {
    plusSlides(step) {
      console.log('index', step);
      this.index += step
    },
    currentSlide() {},
  }
};
</script>

<style scoped lang="scss">
@import "../assets/styles/colors.scss";
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 800px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: $grey-light-visible;
}

.prev {
  left: 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #8080806b;
  color: $red;
}
img {
  width: 800px;
  height: 100vh;
}
/* Caption text */
.text {
  color: $white;
  cursor: pointer;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  background-color: $grey-light-visible;
  &:hover {
    color: $red;
    background-color: #8080806b;
  }
}

/* Number text (1/3 etc) */
.numbertext {
  color: $white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dots {
  margin-top: -16px;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: $white-wrapper;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.selected {
  background-color: $grey-wrapper;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  position: relative;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
</style>