<template>
  <div>
    <h4>Уважаемый гость!</h4>
    <p>
      Девушки имеют право прекратить релаксационную программу в случае склонения к интиму
      или недостойного поведения гостя. <br> В этом случае деньги за релакс не возвращаются.
    </p>

    <div>На программу не допускаются гости:</div>
    <ul>
      <li>– не достигшие совершеннолетнего возраста;</li>
      <li>– в состоянии сильного алкогольного, токсического или наркотического опьянения (по мнению администрации);</li>
      <li>– агрессивно ведущие себя по отношению к персоналу салона.</li>
    </ul>
    <div>Запрещено на массаже:</div>
    <ul>
      <li>– производить несанкционированные фото- и видеосъемки;</li>
      <li>– употреблять наркотические и психотропные вещества;</li>
      <li>– проносить оружие, колющие и режущие предметы;</li>
      <li>– нарушать общественный порядок и спокойствие других посетителей;</li>
      <li>– наносить вред имуществу салона.</li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Rules'
};
</script>

<style scoped lang="scss"></style>