<template>
  <Menu/>
  <div>
    <router-view></router-view>
  </div>
  <modal></modal>
</template>

<script>
import Menu from './components/Menu.vue'
import Modal from './components/Modal.vue'

export default {
  name: 'App',
  components: {
    Menu,
    Modal
  }
}
</script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&display=swap" rel="stylesheet">

<style>


h3 {
  text-align: center;
  margin: 16px;
}


</style>
