//  Цвета для текста

$red: #d23939;
$grey: #808080;
$light-grey: #bdbdbd;
$white: #fff;
$black: #000;

// Цвета для бэграунда

$white-wrapper: #fff;
$black-wrapper: #000;
$grey-wrapper: #808080;
$red-wrapper: #d23939;

// Прозрачные цвета

$black-visible: #000000ab;
$grey-visible: #808080b8;
$grey-light-visible: #80808026;