.d-flex {
  display: flex;
}
.f-wrap {
  flex-wrap: wrap;
}
.col {
  flex-flow: column;
}
.a-center {
  align-items: center;
}
.j-center {
  justify-content: center
}
.j-around {
  justify-content: space-around;
}
.j-between {
  justify-content: space-between;
}
.j-evenly {
  justify-content: space-evenly;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.t-left {
  text-align: left;
}
.t-center {
  text-align: center;
}

.p-abc {
  position: absolute;
}
.p-fix {
  position: fixed;
}
.p-rel {
  position: relative;
}

.infant {
  font-family: 'Cormorant Infant', serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}