@mixin bg($name) {
  background-image: url('../assets/images/#{$name}');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  position: relative;
}