@import "colors";
@import "mixins";
@import "common";

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

.dark {
  background-color: $black-visible;
  width: 100%;
  height: 100vh;
}

.container {
  margin: auto;
  width: 1200px;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}